<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
</head>
<body>
    <h1>Welcome Teacher</h1>
    <table border="1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Course Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>CategoryId</th>
                <th>Start date</th>
            </tr>
        </thead>
        <tbody>
            <% teacher.TeacherCourses.forEach((el, index) => { %>
                <tr>
                    <td><%= ++index %></td>
                    <td><%= el.name %></td>
                    <td><%= el.description %></td>
                    <td><%= el.duration %></td>
                    <td><%= el.CategoryId %></td>
                    <td><%= el.createdAt %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>